#Page_portifolio {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
    width: 100%;
    background-image: url(../../assets/fundo_portifolio.jpg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;
    position: absolute;
    justify-content: space-between;
}

#Titulo{
    margin-top: 50px;
    font-size: 32px;
    margin-bottom: 0px;
    text-align: center;
}

#Subtitulo{
    margin-top: 20px;
    text-align: center;
    color: #ffffff;
}