#Social_midia{
    display: inline-block;
    /*float: right;*/
    list-style: none;
    margin-left: 8px;
    margin-right: 32px;
}

#Social_midia ul li:hover, #Social_midia ul li:focus, #Social_midia ul li:active{
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}